head
	link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")

	h1 Member Coders.Tokyo

		table.table
			th Name
			th DoB
			th SChool
			th Course_idCourse
			th Lession
			th Point
			each user in users
				tr
					td= user.FullName
					td= user.DoB
					td= user.School
					td= user.Course_idCourse
					td= user.Lession
					td= user.Point


		
	nav(aria-label='Page navigation example')
		ul.pagination
			if n[0] > 1
				li.page-item
						a.page-link.text-primary(href='?page='+(n[0]-1).toString()) Previous
			each page in n
				li.page-item
					a.page-link.text-primary(href='?page='+ page)=page
			li.page-item
				a.page-link.text-primary(href='?page='+(current[0]+1).toString()) Next